body {
  background-color: #f5f6f8;
}

/* MAIN CONTAINER */
.profile-container {
  width: 900px;
  margin: 60px auto;
  font-family: 'Segoe UI', sans-serif;
}

/* FLEX LAYOUT */
.top-section {
  display: flex;
  gap: 40px;
}

/* CARD */
.card {
  background: #ffffff;
  border-radius: 14px;
  padding: 25px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  width: 100%;
}

/* HEADINGS */
h2, h3 {
  font-size: 18px;
  font-weight: 700;
  color: #222;
  margin-bottom: 20px;
}

/* PROFILE TEXT */
.profile-info p {
  margin: 10px 0;
  font-size: 15px;
  color: #333;
}

.profile-info strong {
  color: #000;
}

/* STAT CARDS */
.stat-card {
  background: #f8f9fb;
  padding: 12px 15px;
  border-radius: 10px;
  margin-bottom: 12px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.05);
}

/* BUTTON GROUP */
.profile-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

/* BUTTON STYLE */
button {
  flex: 1;
  padding: 12px;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  
}

button:hover {
  transform: scale(1.05);
}